@model MyFinance.Models.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/Home-Index.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>
<div class="panel panel-success">
    <div class="panel-heading">
        <ul id="months" class="nav nav-pills" role="tablist">
            <li id="li1" class="month" role="presentation"><a id="a1" asp-action="Index" asp-controller="Home" asp-route-monthNumber="1">Styczeń <span class="badge"></span></a></li>
            <li id="li2" class="month" role="presentation"><a id="a2" asp-action="Index" asp-controller="Home" asp-route-monthNumber="2">Luty</a></li>
            <li id="li3" class="month" role="presentation"><a id="a3" asp-action="Index" asp-controller="Home" asp-route-monthNumber="3">Marzec<span class="badge"></span></a></li>
            <li id="li4" class="month" role="presentation"><a id="a4" asp-action="Index" asp-controller="Home" asp-route-monthNumber="4">Kwiecień <span class="badge"></span></a></li>
            <li id="li5" class="month" role="presentation"><a id="a5" asp-action="Index" asp-controller="Home" asp-route-monthNumber="5">Maj</a></li>
            <li id="li6" class="month" role="presentation"><a id="a6" asp-action="Index" asp-controller="Home" asp-route-monthNumber="6">Czerwiec<span class="badge"></span></a></li>
            <li id="li7" class="month" role="presentation"><a id="a7" asp-action="Index" asp-controller="Home" asp-route-monthNumber="7">Lipiec <span class="badge"></span></a></li>
            <li id="li8" class="month" role="presentation"><a id="a8" asp-action="Index" asp-controller="Home" asp-route-monthNumber="8">Sierpień</a></li>
            <li id="li9" class="month" role="presentation"><a id="a9" asp-action="Index" asp-controller="Home" asp-route-monthNumber="9">Wrzesień<span class="badge"></span></a></li>
            <li id="li10" class="month" role="presentation"><a id="a10" asp-action="Index" asp-controller="Home" asp-route-monthNumber="10">Październik <span class="badge"></span></a></li>
            <li id="li11" class="month" role="presentation"><a id="a11" asp-action="Index" asp-controller="Home" asp-route-monthNumber="11">Listopad</a></li>
            <li id="li12" class="month" role="presentation"><a id="a12" asp-action="Index" asp-controller="Home" asp-route-monthNumber="12">Grudzień<span class="badge"></span></a></li>
            <li class="navbar-right"><a asp-action="Create" asp-controller="Transaction">Dodaj transakcje</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel-body">
            @if (Model.Transactions.Any())
            {
                <table class="table">
                    <tr>
                        <th>Nazwa kategorii</th>
                        <th>Suma (zł)</th>
                        <th>Konto</th>
                        <th>Rodzaj</th>
                        <th>Data</th>
                        <th>Szczegóły</th>
                    </tr>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Category.Name</td>
                            <td>@transaction.Amount</td>
                            <td>@transaction.Account.Name</td>
                            @if (transaction.IsExpanse)
                            {
                                <td>Wydatek</td>
                            }
                            else
                            {
                                <td>Przychód</td>
                            }
                            <td>@transaction.DateTime.ToString("dd.MM.yyyy")</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Transaction" asp-route-id="@transaction.Id"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"> </span></a>
                                <a asp-action="Delete" asp-controller="Transaction" asp-route-id="@transaction.Id">Usuń</a>
                            </td>
                        </tr>
                    }

                </table>
            }
        </div>
        <div class="col-sm-6">
            <canvas style="height:100px" id="myChart2"></canvas>
        </div>
    </div>
    <div class="col-sm-6">
        <canvas style="height:100px" id="myChart"></canvas>
    </div>
</div>


<script src="~/js/month.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: ["Wydatki", "Przychody"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: ["rgb(255,99,132)", "rgb(66, 244, 101)"],

                data: [@Convert.ToInt32(Model.Expanses) ,@Convert.ToInt32(Model.Earnings)],
                borderWidth: 0
            }]
        },

        // Configuration options go here
        options: {}
    });
    //var ctx2 = document.getElementById("myChart2").getContext('2d');
    //var myChart2 = new Chart(ctx2, {
    //    type: 'bar',
    //    data: {
    //        labels: ["xd", "haha", ":D"],
    //        datasets: [{
    //            label: '# of Votes',
    //            data: [12, 19, 3],
    //            backgroundColor: [
    //                'rgba(255, 99, 132, 0.2)',
    //            ],
    //            borderColor: [
    //                'rgba(255,99,132,1)',
    //            ],
    //            borderWidth: 1
    //        }]
    //    },
    //    options: {
    //        scales: {
    //            yAxes: [{
    //                ticks: {
    //                    beginAtZero: true
    //                }
    //            }]
    //        }
    //    }
    //});
</script>

